
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color:rgba(255, 255, 255, 1) ; */
}
/* sahard style */

.navbar-container{
    display: flex;
    justify-content: space-around;
    margin: 25px 10px;
   
    
}
.logo-png{
    width: 140px;
    height: 60px;
    
}
.logo-png img{
width: 100%;
height: 100%;
}
.list-item{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 16px;
    padding-top: 20px;
}
.primariy-btn{
    background-color: rgba(182, 140, 90, 1);
   border-radius: 8px;
   padding:15px;
   padding-left:25px;
   width: 150px;
   height: 50px;
   border: none;
   margin-top: 8px;
   
}
/* banner section */
.banner-container{
  background: url(../images/banner.png);
  width: 1300px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px auto;
  background-position: center;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.banner-heading{
    color: white;
    font-size: xx-large;
}
.banner-description{
    color: white;
    font-size: 16px;
    margin-top: 10px;
}
.search-btn{
   outline: none;
    width: 500px;
    height: 50px;
    background-color: white;
    padding-left: 100px;
    margin-top: 30px;
    

}

.btn-2{
     background-color: rgba(182, 140, 90, 1);
   border-radius: 8px;
   padding:15px;
   padding-left:25px;
   width: 150px;
   height: 50px;
   border: none;
   margin-left: 10px;
}
.description-container{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
margin: 120px auto;

}
.heading-allow{
    color: #414040;
   font-size: 40px;
}
.paragrp-description{
    color:#707070;
    margin-top: 24px;
}
/* card section */
.card-container{
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   margin-left: 50px;
   padding-left: 30px;
   gap: 30px;
   
}
.card{
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.card h3{
    font-size: 32px;
    padding-top: 10px;
}
.card p{
    font-size: 16px;
    padding-top: 10px;
}
.dot{
    padding-top: 10px;
}
.description{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding-bottom: 20px;
}
.description h4{
    font-size: 40px;
    color: #414040;
}
.description p{
    font-size: 16px;
    padding-top: 24px;
    color: #707070;
}
/* lower-container */
.lower-container{
    background: url(../images/banner.png);
  width: 1300px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px auto;
  background-position: center;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.paragrp-container{
    color: #F3F3F3;
    margin-top: 15px;
}
.heading{
    color: #FFFFFF;
    font-size: 24px;
}
/* Frequently  content */
.main-content{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.main-content h6{
font-size: 40px;
color: #414040;
}
.main-content p{
    font-size: 16px;
    color: #707070;
    padding-top: 10px;
}
/* application-container */
.application-container{
 display: flex;
 margin: 25px auto;
 align-items: center;
 justify-content: space-around;
 padding-top: 20px;

}
.application-logo img{
    width: 570px;
    height: 574px;
}
.heading-container{
    margin-top: 0;
    justify-content: center;

}
.card-1{
padding: 10px 10px;
border-radius: 20px;
background-color: rgba(207, 207, 207, 1);
margin-top:0;
padding-top: 0;
width: 570px;
height:190px;
justify-content: center;


}
.card-1 h6{
font-size: 24px;
}
.card-1 p{
    font-size: small;
}
.card-2{
    font-size: 24px;
    background-color: rgba(207, 207, 207, 1);
    margin-top: 10px;
    width: 570px;
    height: 100px;
    border-radius: 20px;
}
.card-2,.card-3,.card-4 h6{
    padding-left: 10px;
    padding-top: 5px;
}
.card-3{
     font-size: 24px;
    background-color: rgba(207, 207, 207, 1);
    margin-top: 10px;
    width: 570px;
    height: 100px;
    border-radius: 20px;
}
.card-4{
 font-size: 24px;
    background-color: rgba(207, 207, 207, 1);
    margin-top: 10px;
    width: 570px;
    height: 100px;
    border-radius: 20px;
}
/* Contact With Us */
.main-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
.main-container h5{
    font-size: 40px;
}
.main-container p{
    font-size: 16px;
    padding-top: 10px;
}
/* description-card-container */
.description-card-container{
    display: flex;
margin: 50px 100px;
gap: 15px;
justify-content: center;
align-items: center;
text-align: center;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin-left: 15px;
    padding-left: 15px;
    background-color: #F3F3F3;

}
.description-card{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 175px;
    width: 200px;
   
}
.input-section{
display: grid;
gap: 10px;
}
.input-btn{
     background-color: rgba(182, 140, 90, 1);
   border-radius: 8px;
   padding:15px;
   padding-left:25px;
   width: 570px;
   height: 40px;
   border: none;
   margin-left:0;
}
.input-section input{ 
    width: 570px;
    height: 72px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    
}
.input-section.text-box{
    height: 400px;
}
/* footer section */
.footer-container{
    display: flex;
    background-color:#111111 ;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}
.footer-logo{
    color: white;
    padding-right: 10px;
    margin-right: 10px;
}
.footer-logo p{
    padding-top: 10px;
    line-height: 20px;
}
.footer-menu{
    color: white; 
    margin-top: 50px;
}
.footer-numbar{
    color: white;
}
.footer-input{
    color: white;
}
.footer-input input{
    height: 30px;
}
@media screen and (max-width:576px) {
  .navbar-container{
   flex-direction: column;
   padding-left: 12px;
  }
  .primariy-btn{
   width: 130px;
   height: 40px;
}
  .logo-png{
    width: 80px;
    height: 30px;
  }
  .banner-container{
    width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 25px auto;
 background-position:center;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  .banner-heading{
    color: white;
    font-size: 10px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.banner-description{
    color: white;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}
.search-btn{
   outline: none;
    width: 250px;
    height: 35px;
    background-color: white;
    padding-left: 50px;
    margin-top: 30px;
    

}
.btn-2{
     background-color: rgba(182, 140, 90, 1);
   border-radius: 8px;
   padding:10px;
   padding-left:15px;
   width: 100px;
   height: 35px;
   border: none;
  margin-top: 5px;
}
.description-container{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding-left: 10px;

}
.heading-allow{
   font-size: 35px;
}
.paragrp-description{
    font-size: 12px;
}
.card-container{
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(1,1fr);
  text-align: center;
  padding-right: 65px;
   
}
.description h4{
    font-size: 30px;
    
}
.description p{
    font-size: 12px;
}
.lower-container{
  width: 480px;
  height: 300px;
  background-size: contain;
align-items: center;
justify-content: center;
margin-left: 20px;
}
.paragrp-container{
   font-size: 10px;
   text-align: center;
   padding-right: 10px;
}
.heading{
    font-size: 15px;
}
.main-content h6{
font-size: 35px;
}
.main-content p{
    font-size: 12px;
}
.application-container{
 flex-direction: column;
 margin: 25px auto;
 align-items: center;
 justify-content: space-around;
 padding-top: 20px;
}
.card-1{
border-radius: 20px;
width: 460px;
height:150px;
justify-content: center;
margin-left: 25px;
}
/* .heading-container{
   padding-left: 10px;
   margin-left: 10px;
} */
.card-1 p{
    padding-top: 5px;
}
.card-2{
   border-radius: 20px;
width: 460px;
height:50px;
justify-content: center;
margin-left: 20px;
}
.card-3{
 border-radius: 20px;
width: 460px;
height:50px;
justify-content: center;
margin-left: 20px;
}
.card-4{
border-radius: 20px;
width: 460px;
height:50px;
justify-content: center;
margin-left: 20px;
}
.application-logo img{
    width: 350px;
    height: 500px;
}
.main-container h5{
    font-size: 30px;
}
.main-container p{
    font-size: 12px;
}
.description-card-container{
    flex-direction: column;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 20px;
}
.input-section input{ 
    width: 420px;
    height: 72px;
    border-radius: 10px;
    margin-right: 130px;
}
.input-section{
padding-left: 157px;
}
.input-btn{
    width: 420px;
}
.footer-container{
    flex-direction: column;
    padding-top: 10px;
}
}